<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Sip & Flip</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/fac5daed7c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="brand">Sip & Flip</div>
      <button class="hamburger" id="hamburger">&#9776;</button>

      <!-- Navigation Links -->
      <ul class="nav-links" id="nav-links">
        <li>
          <a href="/cart" class="go-cart"
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
    <script src="/script.js"></script>
  </body>
</html>
