<%- include('partials/header',{title: 'ABOUT'}) %>


  <section class="about-container center-text">
    <h1>About Sip & Flip</h1>
    <p>
      Sip & Flip started as a simple idea shared between me and my sister.
      Growing up, we noticed that in our community, reading books and sharing
      stories wasn’t very common, something we deeply wished to change. We
      dreamed of creating a cozy café where anyone could come, relax, enjoy a
      good drink, and get lost in the world of books.
    </p>
    <p>
      This web app brings that dream to life, combining a café’s warmth with a
      welcoming library where users can browse books, reserve their favorites,
      and feel part of a reading community. Whether it’s a cold winter day with
      a warm cup of coffee or a sunny afternoon sharing stories with friends,
      Sip & Flip is designed to be a cozy corner for all.
    </p>
    <p>
      My hope is that Sip & Flip inspires more people in our community and
      beyond to discover the joy of reading and connection. This project is a
      tribute to that vision and a first step toward making it real.
    </p>
  </section>
<%- include('partials/footer') %>
