<%- include('partials/header',{title: 'Favorites'}) %>
<div>
  <div>
    <p>an image and price with a red heart</p>
  </div>
  <div>
    <p>an image and price with a red heart</p>
  </div>
  <div>
    <p>an image and price with a red heart</p>
  </div>
</div>
<%- include('partials/footer') %>
