<%- include('partials/header',{title: 'Orders'}) %>
<div class="orders">
  <div>order and details and date</div>
  <div>order and details and date</div>
  <div>order and details and date</div>
  <div>order and details and date</div>
  <div>order and details and date</div>
</div>
<%- include('partials/footer') %>
